
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bakery-highlight: #a87e5d;
    --bakery-blue: #0d4f72;
    --bakery-bg-light: #fcf8ef;
    --bakery-newsletter-blue: #e7ebee;
    --bakery-grey: #3c3c3c;
}

/*
  @media (min-width: 320px) {

  }
  @media (min-width: 567px) {
    
  }
  @media (min-width: 768px) {
    
  }
  @media (min-width: 992px) {
    
  }
  @media (min-width: 1200px) {
    
  }
  */

/* Typography */
html, body {
    width: 100%;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: var(--primary-color);
    overflow-x: hidden;
}

a {
    color: black;
}

a, ul {
    list-style: none;
    text-decoration: none;
}

a:hover {
    text-decoration: underline
}

h2 {
    font-style: italic;
}

p {
    letter-spacing: 0.05em;
}
/* ------------------- */


button {
    color: var(--bakery-highlight);
    background-color: transparent;
    border: 1px solid var(--bakery-highlight);
}

button:hover {
    background-color: var(--bakery-blue);
}

section {
    height: 600px;
}

.section-heading {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
}

.section-heading hr {
    width: 5rem;
    height: 0.3rem;
    margin-top: 1rem;
    border: none;
    background-color: var(--bakery-highlight);
}

.img-wrapper {
    background-size: cover;
    background-position: center;
}