.newsletter {
    height: 60%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--bakery-newsletter-blue);
}

.nw-image {
    width: 100%;
    height: 100%;
    -webkit-transform: scaleX(-1); /*mirror imaging*/
    transform: scaleX(-1);
}

.newsletter-bread {
    background-image: url("/img/foot-banner.jpg");
}

.nw-copy {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 7rem;
}

.nw-p {
    margin-top: -1rem;
}

.nw-input {
    width: 20rem;
    height: 2.5rem;
    display: flex;
    margin-top: 2rem;
    border-radius: 7px;
    justify-content: space-between;
    border: 1px solid var(--bakery-highlight);
}

.input-box {
    width: 80%;
    height: 100%;
    border: none;
    padding: 1rem;
    color: grey;
    background-color: transparent;
}

.e-btn {
    width: 20%;
    height: 100%;
    border: none;
    color: var(--bakery-bg-light);
    background-color: var(--bakery-highlight);
}